In [3]:
import pymongo
from pymongo import MongoClient

In [12]:
client = MongoClient()
data = client.companies

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

In [28]:
# 1. All the companies that it's name match 'Babelgum'. Retrieve only their `name` field.
list(data.companies.find({"name":"Babelgum"},{"name": 1}))

[{'_id': ObjectId('52cdef7c4bab8bd675297da0'), 'name': 'Babelgum'}]

In [29]:
### 2. All the companies that have more than 5000 employees. 
#Limit the search to 20 companies and sort them by **number of employees**.
list(data.companies.find({"number_of_employees": { "$gt": 5000 }},{"name": 1}))[:5] #[:5] for previewing results

[{'_id': ObjectId('52cdef7c4bab8bd675297d8e'), 'name': 'Facebook'},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9b'), 'name': 'eBay'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da2'), 'name': 'Cisco'},
 {'_id': ObjectId('52cdef7c4bab8bd675297da3'), 'name': 'Yahoo!'},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc4'), 'name': 'Intel'}]

In [51]:
### 3. All the companies founded between 2000 and 2005, both years included. 
#Retrieve only the `name` and `founded_year` fileds.
list(data.companies.find({"$and": [{"founded_year": {"$gte": 2005}}, {"founded_year":{"$lte": 2010}}]},
                         {"name":1, "founded_year":1}))[:3] #[:3] for previewing results

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005}]

In [55]:
### 4. All the companies that had a Valuation Amount of more than 100.000.000 
#and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

list(data.companies.find({"$and": [{"founded_year": {"$lt":2010}}, {"ipo.valuation_amount":{"$gt":100000000}}]}, 
                    {"name":1, "ipo":1}))[:2] #[:2] for previewing results

[{'_id': ObjectId('52cdef7c4bab8bd675297d94'),
  'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8e'),
  'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

In [59]:
### 5. All the companies that have less than 1000 employees and have been founded before 2005. 
# Order them by the number of employees and limit the search to 10 companies.

list(data.companies.find({"$and": [{"founded_year": {"$lt":2005}}, {"number_of_employees": {"$lt": 1000 }}]},
                         {"number_of_employees": -1}).limit(10))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8b'), 'number_of_employees': 600},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8d'), 'number_of_employees': 60},
 {'_id': ObjectId('52cdef7c4bab8bd675297d93'), 'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675297da1'), 'number_of_employees': 50},
 {'_id': ObjectId('52cdef7c4bab8bd675297da5'), 'number_of_employees': 35},
 {'_id': ObjectId('52cdef7c4bab8bd675297da7'), 'number_of_employees': 120},
 {'_id': ObjectId('52cdef7c4bab8bd675297db8'), 'number_of_employees': 62},
 {'_id': ObjectId('52cdef7c4bab8bd675297db2'), 'number_of_employees': 75},
 {'_id': ObjectId('52cdef7c4bab8bd675297dbc'), 'number_of_employees': 0},
 {'_id': ObjectId('52cdef7c4bab8bd675297dc3'), 'number_of_employees': 23}]